.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.week-container {
    display: flex;
}

#grocery-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1250px) {
    .week-container {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }